*{
  color: red;
}
body{
  background-color: black;
  margin: 0,5%;
}
#inputs{
  display: flex;
  flex-flow: column;
}
#i1, #i2, #i3{
  margin-right: 82%;
}
h{
  font-size: larger;
}
#title{
  display: flex;
  flex-flow: column;
}