*{
  color: red;
  margin: 0%;
  padding: 0%;
  border: none;
}
body{
  background-color: black;
}
h{
  font-size: larger;
}
.cr2{
  display: inline-flex;
  
}
p{
  font-size: larger;
}
.svg{
  height: 7%;
  width: 7%;
}
.jpg{
  width: 100%;
  
}
button{
  background-color: black;
  font-size: larger;
  display: block;
  margin-bottom: 5%;
}